@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated)
{
    ViewBag.Title = "Dashboard";
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p class="display-3">Dashboard</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col d-flex justify-content-between">
                <p>@Html.ActionLink("Data Model", "Index", "Personnel", null, new { @class = "btn btn-lg btn-outline-dark" })</p>
                <p>@Html.ActionLink("View Model", "Index", "Record", null, new { @class = "btn btn-lg btn-outline-dark" })</p>
                <p>@Html.ActionLink("Dynamic Model", "TestIndex", "Record", null, new { @class = "btn btn-lg btn-outline-dark" })</p>
            </div>
        </div>
    </div>
}
else
{
    <div class="jumbotron bg-transparent align-items-center pb-1">
        <div class="container-fluid text-center">
            <div class="display-1 text-dark">Orderly</div>
            <div class="lead text-dark mt-3">No SM left behind.</div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p>@Html.ActionLink("Learn more.", "About", "Home", null, new { @class = "btn btn-lg btn-outline-dark" })</p>
            </div>
        </div>
    </div>
}