@model Orderly.Models.RecordDetail

@{
    ViewBag.Title = "CreateHousingRecord";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<div class="container">
    <h1 class="display-4">Creating New Record</h1>
    <p class="h4 font-weight-normal pl-4">Please fill in the fields below.</p>
    <hr />

    @{
        Html.RenderPartial("_CreateHousing", new Orderly.Models.HousingCreate()
        {
        }
    );
    }
</div>