@Styles.Render("~/Content/Detail.css")
@model Orderly.Models.RecordDetail

@{
    ViewBag.Title = "UpdateContact";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
    <a class="btn mb-2 text-primary text-decoration-none" href="@Url.Action("Details","Record",new { id = Model.PersonnelId })"><i class="fa fa-2x fa-backward pt-2 fa-align-center"></i><span class="h4 font-weight-normal ml-3">Go Back</span></a>

@{
    Html.RenderPartial("_HeaderPartial", new Orderly.Models.RecordDetail()
    {
        Rank = Model.Rank,
        FirstName = Model.FirstName,
        LastName = Model.LastName,
        Role = Model.Role
    }
        );
}
@{
    Html.RenderPartial("_EditContact", new Orderly.Models.ContactEdit()
    {
        Id = Model.ContactId,
        PersonnelId = Model.PersonnelId,
        PhoneNumber = Model.PhoneNumber,
        PersonalEmail = Model.PersonalEmail,
        MilEmail = Model.MilEmail,
        HasDriversLicense = Model.HasDriversLicense,
        VehicleMake = Model.VehicleMake,
        VehicleModel = Model.VehicleModel,
        VehicleColor = Model.VehicleColor,
        VehiclePlate = Model.VehiclePlate,
        VehicleYear = Model.VehicleYear,
        VehicleInspected = Model.VehicleInspected,
        CreatedBy = Model.ContactCreatedBy,
        CreatedUtc = Model.ContactCreatedUtc,
        CreatedByUserName = Model.ContactCreatedByUserName,
        ModifiedLast = Model.ContactModifiedLast,
        ModifiedUtc = Model.ContactModifiedUtc,
        ModifiedByUserName = Model.ContactModifiedByUserName

    }
);
}

