@Styles.Render("~/Content/Detail.css")
@model Orderly.Models.RecordDetail

@{
    ViewBag.Title = "UpdateHousing";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<a class="btn mb-2 text-primary text-decoration-none" href="@Url.Action("Details","Record",new { id = Model.PersonnelId })"><i class="fa fa-2x fa-backward pt-2 fa-align-center"></i><span class="h4 font-weight-normal ml-3">Go Back</span></a>

@{
    Html.RenderPartial("_HeaderPartial", new Orderly.Models.RecordDetail()
    {
        Rank = Model.Rank,
        FirstName = Model.FirstName,
        LastName = Model.LastName,
        Role = Model.Role
    }
        );
}
@{
    Html.RenderPartial("_EditHousing", new Orderly.Models.HousingEdit()
    {
        Id = Model.ContactId,
        PersonnelId = Model.PersonnelId,
        Address = Model.Address,
        Room = Model.Room,
        CreatedBy = Model.HousingCreatedBy,
        CreatedUtc = Model.HousingCreatedUtc,
        CreatedByUserName = Model.HousingCreatedByUserName,
        ModifiedLast = Model.HousingModifiedLast,
        ModifiedUtc = Model.HousingModifiedUtc,
        ModifiedByUserName = Model.HousingModifiedByUserName
    }
);
}


